body {
    padding-top: 70px;
  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*#region header_navbar*/
.header_top {
    background-image: linear-gradient(90deg, #0971b7 30%, #3c3150) !important;

    .navbar-nav > li > a {
        color: white !important;
        margin: auto;
    }

    .navbar-nav {
        @media (min-width: 768px) {
            float: right !important;
            margin: 0;
        }
    }

    .navbar-brand {
        color: white;
    }

    .logo_wrapper {
        float: left;
        display: block;

        .logo_top {
            margin: 0;
            position: absolute;
            font: 45px Helvetica, Sans-Serif;
            letter-spacing: 0px;
            color: #212020;
            text-decoration: none;
        }

        .logo_top:after {
            content: 'AC';
            position: absolute;
            left: 4px;
            top: 2px;
            color: white;
            text-decoration: none;
        }
    }
}
/*#endregion header_navbar*/
/*#region login_partial*/
.partial_login_wrapper {
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropBtn {
        height: 45px;
        width: 45px;
        margin: 4px 15px !important;
    }
}
/*#endregion login_partial*/
/*#region view_book*/
.view_book_wrapper {
    display: block;

    .item_book {
        box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
        text-align: center;
        border-radius: .125rem;

        .name_book {
        }

        .price_book {
            font-weight: bold;
        }

        .img_book{
            width:100%
        }
    }
}
/*#endregion view_book*/
/*#region footer_layout_main*/
    .footer-distributed {        
        background-image: linear-gradient(90deg, #0971b7 30%, #3c3150) !important;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        font: bold 16px sans-serif;
        text-align: left;
        padding: 50px 60px 40px;
        overflow: hidden;
        
        
    }
    /* Footer left */
    .footer-distributed .footer-left {
        float: left;
    }
    /* The company logo */
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Roboto', cursive;
        margin: 0 0 10px;
    }

    .footer-distributed h3 span {
        color: #bbb;
    }
    /* Footer links */
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }

    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }

    .footer-distributed .footer-company-name {
        color: white;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer social icons */
    .footer-distributed .footer-icons {
        margin-top: 40px;
    }

    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: gray;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    /* Footer Right */
    .footer-distributed .footer-right {
        float: right;
    }

    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 15px 42px 0 0;
        color: #ffffff;
    }
    /* The contact form */
    .footer-distributed form {
        display: inline-block;
    }

    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: gray;
        opacity: 0.5;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: white;
        width: 400px;
        padding: 18px;
    }

    .footer-distributed ::-webkit-input-placeholder {
        color: white;
    }

    .footer-distributed ::-moz-placeholder {
        color: white;
        opacity: 1;
    }

    .footer-distributed :-ms-input-placeholder {
        color: white;
    }

    .footer-distributed form input {
        height: 55px;
        margin-bottom: 15px;
    }

    .footer-distributed form textarea {
        height: 100px;
        margin-bottom: 20px;
    }

    .footer-distributed form button {
        border-radius: 3px;
        background-color: gray;
        color: #ffffff;
        border: 0;
        padding: 15px 50px;
        font-weight: bold;
        float: right;
    }
/*#endregion footer_layout_main*/
/*#region search_bar*/
.search-container {
    width: 100%;
    display: flex;
    height: 80px;
    background-image: linear-gradient(90deg, #0971b7 30%, #3c3150) !important;
}

.search_bar {
    display: flex;
    justify-content: center;
    width: 400px;
    position: relative;
    vertical-align: middle;
    margin: auto;
}

form.search_bar input[type='text'] {
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin: 5px 0 5px 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline:none;
    border:0;
}

form.search_bar button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    margin: 5px 0 5px 0;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

form.search_bar button:hover {
    background: #0b7dda;
}

form.search_bar::after {
    content: '';
    clear: both;
    display: table;
}
/*#endregion search_bar*/
/*#region bagcart*/
.bag_cart {
    margin:0 30px;
    .bagcart {
        color: white;
        position: absolute;
        top: 10px;
        right: 0px;

        .num_bag {
        }
    }
}

/*#endregion bagcart*/

.banner_top {
    .mySlides {
        display: none;
    }

    img {
        vertical-align: middle;
        height: 400px;
        width: 800px;
    }

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .body_content {
        display: flex;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }
    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fade {
        from {
            opacity: 0.4;
        }

        to {
            opacity: 1;
        }
    }
}