
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shopping_Success</h2>
<body>
    sucsessful
    <a class="btn btn-success" href="@Url.Action("Index","Book")">Tiếp tục shopping</a>
</body>
